<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzg-0jkjmaeBt7TkzLSnLOspSqto6Xbwk</string>
	<key>GCM_SENDER_ID</key>
	<string>463685187073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.aqad</string>
	<key>PROJECT_ID</key>
	<string>aqad-79b82</string>
	<key>STORAGE_BUCKET</key>
	<string>aqad-79b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463685187073:ios:4786fe4c13b80b4dd47200</string>
</dict>
</plist>